<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
   <div id="content">
    <h1>Welcome to Login page</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
     quis nostrud exerci tation ullamcorper.
    </p>
   </div>
   <script>
     console.log("Login page");
   </script>
</body>
</html>